<%- include('partials/header') -%>





<main class="container">

    <img class="index-image" src="https://res.cloudinary.com/df8sj4ats/image/upload/v1663451777/homepageimage_ve5rsu.jpg" alt="homepageimage"/>


    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-secondary"> Login</a>
        <a href="/signup" class="col-3 btn btn-secondary"> Register</a>
    </div>

</main>
    

<%- include('partials/footer') -%>